[Desktop Entry]
Type=Application
Version=1.5
Name=Mukwa
Categories=Finance;Office
GenericName=Finance app
Icon=mukwa
Exec=mukwa
Terminal=false
Keywords=Budget;Finance